<mat-sidenav-container class="example-container" autosize >
  <mat-sidenav #sidenav class="example-sidenav" mode="side" [mode]="'over'">
    <mat-nav-list>
      <mat-list-item>
        <!-- <mat-icon mat-list-icon>account_circle</mat-icon> -->
        <a (click)="redirigirInicio()"><span class="full-width">Inicio</span></a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="usuario/tabla" matListItemTitle (click)="sidenav.toggle()"><span class="full-width">Usuarios</span></a>
        <!-- <mat-icon mat-list-icon>account_circle</mat-icon> -->
      </mat-list-item>
      <mat-list-item>
        <a routerLink="alumno/tabla" matListItemTitle (click)="sidenav.toggle()"><span class="full-width">Alumnos</span></a>
        <!-- <mat-icon mat-list-icon>account_circle</mat-icon> -->
      </mat-list-item>
      <mat-list-item>
        <a routerLink="profesor/tabla" matListItemTitle (click)="sidenav.toggle()"><span class="full-width">Profesores</span></a>
        <!-- <mat-icon mat-list-icon>account_circle</mat-icon> -->
      </mat-list-item>
      <mat-list-item>
        <a routerLink="curso/tabla" matListItemTitle (click)="sidenav.toggle()"><span class="full-width">Cursos</span></a>
        <!-- <mat-icon mat-list-icon>account_circle</mat-icon> -->
      </mat-list-item>
      <mat-list-item>
        <a routerLink="inscripcion/tabla" matListItemTitle (click)="sidenav.toggle()"><span class="full-width">Inscripciones</span></a>
        <!-- <mat-icon mat-list-icon>account_circle</mat-icon> -->
      </mat-list-item>
      <mat-list-item>
          <a routerLink="curso/tabla" matListItemTitle (click)="cerrarSesion()"><span class="full-width">Cerrar sesión</span></a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>


</mat-sidenav-container>
