<mat-sidenav-container class="example-container" autosize >

  <mat-sidenav #sidenav class="example-sidenav" mode="side" [mode]="'over'">
    <mat-nav-list>
      <mat-list-item class="parent">
        <!-- <mat-icon mat-list-icon>account_circle</mat-icon> -->
        <a (click)="redirigirInicio()"><span class="full-width">Inicio</span></a>
      </mat-list-item>
      <mat-list-item class="parent">
        <span class="full-width">Usuarios</span>
        <!-- <mat-icon mat-list-icon>account_circle</mat-icon> -->
      </mat-list-item>
      <mat-list-item class="parent">
        <a routerLink="alumno/tabla" (click)="sidenav.toggle()"><span class="full-width">Alumnos</span></a>
        <!-- <mat-icon mat-list-icon>account_circle</mat-icon> -->
      </mat-list-item>
      <mat-list-item class="parent">
        <a routerLink="profesor/tabla" (click)="sidenav.toggle()"><span class="full-width">Profesores</span></a>
        <!-- <mat-icon mat-list-icon>account_circle</mat-icon> -->
      </mat-list-item>
      <mat-list-item class="parent">
        <a routerLink="curso/tabla" (click)="sidenav.toggle()"><span class="full-width">Cursos</span></a>
        <!-- <mat-icon mat-list-icon>account_circle</mat-icon> -->
      </mat-list-item>
      <mat-list-item class="parent">
        <a><span class="full-width">Inscripciones</span></a>
        <!-- <mat-icon mat-list-icon>account_circle</mat-icon> -->
      </mat-list-item>
      <mat-list-item class="parent">
          <a routerLink="curso/tabla" (click)="cerrarSesion()"><span class="full-width">Cerrar sesión</span></a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>
