.grid-container {
  display: grid;
  grid-template-areas:  'header header header header header header header'
                        'main main main main main main main';
}
.grid-toolbar {
  grid-area: header;
}
.grid-lista {
  grid-area: main;
}
