<div class="container">
  <h1 mat-dialog-header align="center"><b>{{tituloVentana}}</b></h1>
  <hr>

  <form [formGroup]="formulario">
      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" formControlName="id" class="form-control" placeholder="Id" cdkFocusInitial [disabled]="true">
      </div>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
        <app-validacion
          [ExisteError]="formulario.controls['nombre'].invalid"
          [valrequerido]="formulario.controls['nombre'].dirty && formulario.controls['nombre'].errors?.['required']">
        </app-validacion>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" formControlName="apellido" class="form-control" placeholder="Apellido">
         <app-validacion
          [ExisteError]="formulario.controls['apellido'].invalid"
          [valrequerido]="formulario.controls['apellido'].dirty && formulario.controls['apellido'].errors?.['required']">
        </app-validacion>
      </div>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" formControlName="email" class="form-control" placeholder="E-Mail">
         <app-validacion
          [ExisteError]="formulario.controls['email'].invalid"
          [valemail]="formulario.controls['email'].dirty && formulario.controls['email'].errors?.['email']">
        </app-validacion>
      </div>

      <mat-form-field class="form-group mt-2" appearance="outline">
        <label for="fecnac">Nacimiento</label>
        <input class="form-control" matInput [matDatepicker]="fecnac" formControlName="fecnac">
        <mat-datepicker-toggle matSuffix [for]="fecnac"></mat-datepicker-toggle>
        <mat-datepicker #fecnac></mat-datepicker>
      </mat-form-field>

      <div class="form-group">
        <label for="fecnac">Activo</label>
        <mat-slide-toggle formControlName="activo" class="form-control"></mat-slide-toggle>
      </div>
  </form>

  <div mat-dialog-actions>
    <button mat-flat-button (click)="aceptar()" [disabled]="formulario.invalid" color="primary">Aceptar</button>
    <!-- <button mat-flat-button (click)="aceptar()" [disabled]="formulario.invalid" color="primary" [mat-dialog-close]="this.formulario.value">Aceptar</button> -->
    <button mat-flat-button color="warn" (click)="cerrarModal()">Cancelar</button>
  </div>

</div>
