<div class="container">
  <h1 mat-dialog-header align="center"><b>{{tituloVentana}}</b></h1>
  <hr>
  <form [formGroup]="formulario">
      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" formControlName="id" class="form-control" placeholder="Id">
      </div>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
        <app-validacion
          [ExisteError]="formulario.controls['nombre'].invalid"
          [valrequerido]="formulario.controls['nombre'].dirty && formulario.controls['nombre'].errors?.['required']">
        </app-validacion>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" formControlName="apellido" class="form-control" placeholder="Apellido">
        <app-validacion
          [ExisteError]="formulario.controls['apellido'].invalid"
          [valrequerido]="formulario.controls['apellido'].dirty && formulario.controls['apellido'].errors?.['required']">
        </app-validacion>
      </div>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" formControlName="email" class="form-control" placeholder="E-Mail">
        <app-validacion
          [ExisteError]="formulario.controls['email'].invalid"
          [valemail]="formulario.controls['email'].dirty && formulario.controls['email'].errors?.['email']">
        </app-validacion>
      </div>
      <div class="form-group">
        <label for="fecnac">Nacimiento</label>
        <input type="text" formControlName="fecnac" class="form-control" placeholder="Nacimiento">
        <app-validacion
          [ExisteError]="formulario.controls['fecnac'].invalid"
          [valrequerido]="formulario.controls['fecnac'].dirty && formulario.controls['fecnac'].errors?.['required']">
        </app-validacion>
      </div>
  </form>

  <div mat-dialog-actions>
    <button mat-flat-button [disabled]="formulario.invalid" color="primary" [mat-dialog-close]="this.formulario.value" cdkFocusInitial>Aceptar</button>
    <button mat-flat-button color="warn" (click)="CerrarModal()">Cancelar</button>
  </div>

</div>
